@import url("https://fonts.googleapis.com/css?family=Kalam");

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kalam', cursive;
  #content {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    .id, .fav, .delete {
      display: block;
      float: left;
      width: 29%;
      height: 28px;
      margin: 2%;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid #000;
    }
    .sort{
      display: inline-block;
      width: 20%;
      height: 28px;
      margin: 1%;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid #000;
    }
    .imagebox{
      position: relative;
      display: inline-block;
      border: 1px solid #000;
      height: 490px;
      margin: 1%;
      width: 31%;
      img{
        height: 300px;
        width: 100%;
      }
      h2{
        display: inline-block;
        height: 45px;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        background: #ffc966;
        margin: 10px 0;
      }
      p{
        font-size: 22px;
      }
    }
    .favourites{
      position: relative;
      display: inline-block;
      border: 1px solid #000;
      height: 200px;
      width: 150px;
      margin: 10px;
      img{
        height: 75%;
        width: 100%;
      }
      h2{
        height: 15%;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        background: #ffc966;
      }
    }
  }
}
